body {
    background-image: linear-gradient(to right, rgb(255, 221, 0), rgb(255, 106, 0) );
}

#GymBuddyTitle {
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
    font-size: 60px;
    font-weight: bold;
    font-family: League Spartan, sans-serif;
}

.nav-link {
    color:#fff !important;
    background-color: #212529 !important;
}

.nav-link:hover {
    color: #fff !important;
    background-color: #424649 !important;
}

.nav-link.active {
    color:#fff !important;
    background-color: #424649 !important;
}
/* Chatbot Container */
#chatbot-container {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 300px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
}

/* Chat Header */
#chat-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px 10px 0 0;
}

/* Close Button */
#close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #fff;
}

/* Chat Messages Container */
#chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

/* Message Input Container */
#message-input {
    display: flex;
    border-top: 1px solid #ccc;
}

/* User Input */
#user-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
}

/* Send Button */
#send-btn {
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
}

/* Chatbot Toggle Button */
#chatbot-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
