body {
    background-image: linear-gradient(to right, rgb(255, 221, 0), rgb(255, 106, 0) );
}

#GymBuddyTitle {
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
    font-size: 60px;
    font-weight: bold;
    font-family: League Spartan, sans-serif;
}

.border-class
{
  border:thin black solid;
  margin:20px;
  padding:20px;
}